@use "../partials/functions" as f;
@use "../partials/mixins" as m;

@layer components {
  .gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: f.rem(10);
    margin-top: f.rem(20);
    width: 100%;

    @media (min-width: f.rem(576)) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: f.rem(768)) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: f.rem(1024)) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .gallery__item {
    position: relative;
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    border-radius: f.rem(8);
    box-shadow: 0 f.rem(2) f.rem(10) var(--shadow-color);
    margin-bottom: f.rem(10);

    img {
      position: relative;
      cursor: pointer;
      width: f.rem(150);
      max-width: 100%;
      overflow: hidden;
      border-radius: f.rem(8);
      box-shadow: 0 f.rem(2) f.rem(10) var(--shadow-color);
    }

    &:hover img {
      transform: scale(1.05);
    }
  }
}
