@use "../partials/functions" as f;
@use "../partials/mixins" as m;

@layer components {
  .input-container {
    margin-bottom: f.rem(16);
    padding: f.rem(0) f.rem(30);
    max-width: f.rem(400);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .input {
    width: 100%;
    padding: f.rem(10) f.rem(14);
    border: f.rem(2) solid var(--grey);
    border-radius: f.rem(4);
    background-color: var(--white);
    color: var(--black);
    font-size: f.rem(14);
    transition: border-color 0.3s, box-shadow 0.3s;
    outline: none;
    margin-bottom: f.rem(12);

    &::placeholder {
      color: var(--grey);
    }

    &:focus {
      border-color: var(--blue);
      box-shadow: 0 0 f.rem(4) rgba(0, 123, 255, 0.2);
    }

    &--error {
      border-color: var(--red);
    }

    &--success {
      border-color: var(--green);
    }

    /* Taille large */
    &--lg {
      padding: f.rem(14) f.rem(20);
      font-size: f.rem(16);
    }

    /* Taille petite */
    &--sm {
      padding: f.rem(6) f.rem(10);
      font-size: f.rem(12);
    }

    /* Cache l'input */
    &--no-show {
      display: none;
    }
  }
}
